@font-face {
    font-family: inter;
    src: url(../assets/font/Inter-Medium.ttf);
}

.app-container{
    font-family: inter;
    text-align: center;
}

ul li{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 15px;
}

.time li{
    margin-right: 20px;
}