.timer{
    background: rgb(241, 239, 239);
    padding: 10px;
    width: 85%;
    left: 18px;
    top: 25%;
    position: absolute;
    font-weight: bold;
    border: 1px solid rgb(241, 239, 239);
    border-radius: 5px;
}

.header{
    margin-top: 50px;
}

.footer{
    margin-top: 450px;
    font-size: small;
}

h1{
    font-size: 3rem;
}

@media screen and (min-width:800px) {
    .timer{
        width: 70%;
        left: 15%;
    }
    .footer{
        position: relative;
        margin-top: 40%;
        left: auto;
    }
}