.timer{
    background: rgb(241, 239, 239);
    padding: 10px;
    top: 25%;
    font-weight: bold;
    border: 1px solid rgb(241, 239, 239);
    border-radius: 5px;
    margin-top: 60px;
}

.header{
    margin-top: 50px;
}

.footer{
    position: absolute;
    bottom: 10px;
    left: 110px;
    font-size: small;
    text-align: center;
}

a{
    text-decoration: none;
}

h1{
    font-size: 3rem;
}

@media screen and (min-width:800px) {
    .footer{
        left: 50%;
    }
}